* {
    box-sizing: border-box;
}
#headingTheme{
    background-color:rgb(250, 187, 27);
}
#header-nav {
    background-color:black;
    border-radius: 0;
    border: 0;    
    border: solid black 3px;
    margin-bottom: 0;
    
}
#temp{
    float: right;
}

.navbar-brand {       
    padding-left: 0;  
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.navbar-brand h1 {    
    font-family: 'Alfa Slab One';
    font-size: 1.5em;
    color: black;   
    color:rgb(250, 187, 27);
    background-color:black;
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 0;
}

.text-center {
    font-family: 'Sofia';
    font-size: 38px;
    font-weight: bold;
    position: relative;
    margin-top: 55px;
}

#text {       
    margin: 10px;
    background-color:black;
    font-family:Arial, Helvetica, sans-serif;   
    position: relative;
    color:rgb(250, 187, 27);
}

#top {
    color:black;
}


#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: black;
    font-family: 'Alfa Slab One';
    font-weight: 100;
    background-color: #AAA5A5;
}

#nav-list a:hover {
    background-color: #AEAE52;   
}

.navbar-default .navbar-collapse {
	margin-top:0px;
	border: 0px;
	list-style-type: none;
}  
